.white {
  background-color: #fff;
  width: 200px;
  padding: 8px;
  margin: 50px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.red {
  background-color: #f07e7e;
  width: 180px;
  height: 160px;
  padding: 10px;
  margin: 1px;
}

.font {
  margin-left: 10px;
  margin-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  font-size: 26px;
}
.h3 {
  font-size: 16px;
  color: rgb(133, 130, 130);
}

.bottom {
  padding-bottom: 20px;
}
